.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* color: var(--blue);
    background-color: var(--black);
    position: absolute;
    z-index: 1000; */
}