.navbar{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
}
.links{
    display: flex;
    /* justify-content: flex-end; */
    gap: 1.5rem;
    align-items: center;
}
.logo{
    font-size:  1.2rem;
}
.link{
    color: var(--grey);
    font-weight: 500;
    font-size: 1rem;
}
.link:hover{
    color: var(--white);
    transition: all 0.3s;
}
.mobile_menu{
    display: none;
}
@media only screen and (max-width:800px) {
    .logo{
        font-size: 1rem;
    }
    .navbar{
        padding: 1.5rem ;
    }
    .links{
        display: none;
    }
    .mobile_menu{
        display: block;
    }
}

.right_toggle{
    background-color: var(--black);
    height: 100vh;
    width: 30vh;
    padding: 2rem;
}